@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alata";
  font-size: 16px;
  background-color: white;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
}

.padding {
  padding: 0 6rem;
}
.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
li {
  list-style: none;
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background: url(./images/desktop/image-hero.jpg);
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  height: 100%;
  padding-bottom: 9rem;
}
.heading {
  padding-top: 2rem;
  position: relative;
}
.hamburger {
  position: absolute;
  top: 41px;
  right: 12px;
  width: 30px;
  display: none;
}
.logo {
  width: 100%;
}
.logo img {
  max-width: 100vw;
}

.header-links {
  width: 52%;
  position: relative;
}
.header-links li a {
  position: relative;
}

.header-links li a::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 13px;
  width: 50%;
  padding: 0.7px;
  background-color: white;
  z-index: 100;
  transform-origin: center;
  opacity: 0;
  transition: 0.3s all ease;
  transform: scaleX(0);
}
.header-links li a:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

.banner {
  border: 2px solid var(--White);
  margin-top: 3.4rem;
  width: 57%;
  padding: 1.9rem;
  color: white;
  margin-bottom: 2rem;
}

.banner h1 {
  font-size: 47px;
  font-family: "Alata", sans-serif;
  max-width: 100vw;
  font-weight: lighter;
  text-transform: uppercase;
}

.sect-one {
  margin-top: 3rem;
  position: relative;
  margin-bottom: 8rem;
}
.sect-one-img {
  width: 100%;
  flex-basis: 55%;
  position: relative;
  z-index: -100;
  padding-left: 6rem;
}

.sect-one-img img {
  max-width: 100%;
}

.sect-one-text {
  flex-basis: 45%;
  width: 100%;
  padding: 1rem;
  z-index: 30;
  padding: 3.3rem;
  position: relative;
  top: 6rem;
  right: 6.5rem;
  font-weight: 400;
  background-color: white;
}

.sect-one-text h1 {
  font-size: 2rem;
  word-spacing: 10px;
  margin-bottom: 2rem;
  width: 70%;
  font-weight: lighter;
  color: var(--Very-Dark-Gray);
  background-color: white;
}

.sect-one-text p {
  width: 100%;
  color: var(--Very-Dark-Gray);
  background-color: white;
}

.sect-two {
}
.sect-two-header {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 5rem;
  text-transform: uppercase;
}

.sect-two-header h1 {
  font-size: 2.3rem;
  color: var(--Dark-Gray);
}
.sect-two-header button {
  background-color: transparent;
  padding: 6px 24px;
  text-transform: uppercase;
  outline: none;
  border: 1px solid var(--Dark-Gray);
}
.but {
  display: none;
}
.sect-two-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
   
}

.grid {
   min-height: 60vh;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  background-repeat: no-repeat; 
}
.grid p {
  width: 45%;
  font-family: "Josefin Sans", sans-serif;
  padding-left: 20px;
  margin-top: 16rem;
}

.grid-one {
  background: url(./images/desktop/image-deep-earth.jpg);
}
.grid-two {
  background: url(./images/desktop/image-night-arcade.jpg);
}
.grid-three {
  background: url(./images/desktop/image-soccer-team.jpg);
}
.grid-four {
  background: url(./images/desktop/image-grid.jpg);
}
.grid-five {
  background: url(./images/desktop/image-from-above.jpg);
}
.grid-six {
  background: url(./images/desktop/image-pocket-borealis.jpg);
}
.grid-seven {
  background: url(./images/desktop/image-curiosity.jpg);
}
.grid-eight {
  background: url(./images/desktop/image-fisheye.jpg);
}

footer {
  background: var(--Black);
  margin-top: 4rem;
  max-height: 50%;
}

.foot-one {
  padding-top: 5rem;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.foot-one img {
  margin: 0 10px;
}

.foot-two {
  width: 100%;
  padding-bottom: 5rem;
}
.foot-links {
}
.foot-links img {
  cursor: pointer;
  position: relative;
  padding-bottom: 15px;
}

.foot-links img:hover {
  border-bottom: 2px solid white;
}
.footer-links {
  width: 100%;
  max-width: 50%;
  position: relative;
}
.footer-links li a {
  position: relative;
}
.footer-links li a::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 13px;
  width: 50%;
  padding: 2px;
  background-color: white;
  z-index: 100;
  transform-origin: center;
  opacity: 0;
  transition: 0.3s all ease;
  transform: scaleX(0);
}
.footer-links li a:hover::after {
  transform: scaleX(1);
  opacity: 1;
}
.one {
  display: none;
}
.copyright {
  color: var(--White);
}
@media screen and (max-width: 960px) {
  .header-links {
    width: 100%;
  }
  .sect-one-text {
    padding: 10px;
  }
}
@media screen and (max-width: 900px) {
  header {
    min-height: 90vh;
  }
  .padding {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 800px) {
  header {
    min-height: 100vh;
  }
  .banner h1 {
    font-size: 2.4rem;
  }
  .sect-one {
    flex-direction: column;
  }
  .sect-one-img {
    width: 60%;
    padding-left: 3rem;
  }
  .sect-one-text {
    width: 70%;
    padding: 1rem;
    z-index: 30;
    padding: 1.4rem;
    position: static;
    top: 0rem;
    right: 0rem;
    margin-left: 3rem;

    background-color: white;
  }
  .foot-two {
    flex-direction: column;
  }
  .footer-links {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 600px) {
  header {
    min-height: 100vh;
  }
  .heading {
    flex-direction: column;
  }
  .hamburger {
    display: block;
  }
  .header-links li a::after {
    width: 30%;
    top: 35px;
    left: 0;
  }
  .header-links {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    padding: 5rem 1rem;
    transform: translateY(-1900px);
    transform-origin: top;
    transition: 0.1s linear all;
  }
  .header-links-show {
      
    transform: translateY(0px);
    z-index: 100;
  }
  .links {
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
  }
  .links li a {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
    margin-bottom: 30px;
  }
  .banner {
    width: 90%;
  }
  .sect-one-img {
    width: 70%;
  }
  .sect-one-text {
    border-right: 2px purple solid;
  }
  .sect-one-text h1 {
    font-size: 2rem;
  }
  .sect-two-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .sect-two-header h1 {
    font-size: 2rem;
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .sect-two-header button {
    display: none;
  }

  .but {
    display: block;
    background-color: transparent;
    padding: 6px 24px;
    text-transform: uppercase;
    outline: none;
    border: 1px solid var(--Dark-Gray);
    width: 40%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .foot-links {
    display: none;
  }

  .foot-one {
    padding-top: 5rem;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
  }
  .foot-one img {
    width: 100%;
  }
  .one {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .one img{
    margin: 10px;

  }
  .footer-links {
    flex-direction: column;
  }
  .footer-links li {
    text-align: center;
    margin: 20px 0;
    font-size: 1.6rem;
  }
  .footer-links li a::after {
    top: 30px;
  }
  .copyright {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  body {
    overflow-x: hidden;
    max-width: 100%;
  }
  header {
    background: url(./images/mobile/image-hero.jpg);
    max-width: 100%;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }
  .banner {
    max-width: 100%;
    padding: 1rem;
  }
  .banner h1 {
    font-size: 2.6rem;
  }
  .padding {
    padding: 0 1rem;
  }
  .sect-one {
    margin-top: 3rem;
    margin-bottom: 3.7rem;
  }
  .sect-one-img {
    width: 90%;
    padding-left: 0rem;
    margin: 0 auto;
  }
  .sect-one-text {
    border: none;
    box-shadow: none;
    width: 90%;
    margin: 0 auto;

    /* padding: 1rem; */
    padding: 1.4rem;
  }
  .sect-one-text h1 {
    font-size: 2rem;
    text-align: center;
    word-spacing: 5px;
    margin: 0 auto;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    width: 75%;
  }

  .sect-one-text p {
    text-align: center;
  }

  .sect-two-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }
  .grid {
    /* min-height: 40px; */
    border-bottom: 10px solid purple;
    background-position: -90% -50%;
   max-height: 1vh;
    height: 100%;
  }

  .grid-one {
    background: url(./images/mobile/image-deep-earth.jpg);
  }
  .grid-two {
    background: url(./images/mobile/image-night-arcade.jpg);
  }
  .grid-three {
    background: url(./images/mobile/image-soccer-team.jpg);
  }
  .grid-four {
    background: url(./images/mobile/image-grid.jpg);
  }
  .grid-five {
    background: url(./images/mobile/image-from-above.jpg);
  }
  .grid-six {
    background: url(./images/mobile/image-pocket-borealis.jpg);
  }
  .grid-seven {
    background: url(./images/mobile/image-curiosity.jpg);
  }
  .grid-eight {
    background: url(./images/mobile/image-fisheye.jpg);
  }
  .grid p {
    width: 20%;
    font-family: "Josefin Sans", sans-serif;
    padding-left: 20px;
    margin-top: 12rem;
  }
  .sect-two-header h1{
      width: 100%;
  }
  .links {
    flex-direction: column;
    justify-content: center;
    margin-top: 0rem;
  }
}
